---
import type { Resource } from '../utils/types.js';
import Tag from './tag.astro';

interface Props extends Resource {
  lazy?: boolean;
}

const {
  name,
  description,
  preview,
  link,
  tags,
  lazy = false
} = Astro.props as Props;
---

<a 
  class={
    " border-neutral-800 bg-neutral-900/80 border backdrop-blur-xs" +
    " h-80 flex flex-col gap-2 rounded-md p-3 cursor-pointer" +
    " hover:backdrop-blur-sm transition hover:scale-[103%] hover:border-neutral-700"
  }
  href={link} 
  target="_blank"
>
  {lazy ? (
    <img 
      class="lazy-image rounded-sm overflow-hidden border border-neutral-800 bg-neutral-800 min-h-[177.5px]"
      data-src={preview}
      alt={`Preview of ${name}`}
    />
  ) : (
    <img 
      class="rounded-sm overflow-hidden border border-neutral-800 min-h-[177.5px]"
      src={preview}
      alt={`Preview of ${name}`}
    />
  )}

  <div class="absolute w-full bg-black/80 text-center top-20 left-0 backdrop-blur-sm py-2">
    <span class="text-lg font-bold">
      {name}
    </span>
  </div>
  
  <div class="my-auto text-gray-400 italic text-xs bg-black/40 px-2 py-4 rounded-md flex items-center">{description}</div>

  <div class="flex items-center gap-1 mt-auto">
    {tags.map((tag) => (
      <Tag label={tag} />
    ))}
  </div>
</a>