---
import type { Tool } from '../utils/tools.js';
import Tag from './tag.astro';

interface Props extends Tool {
  lazy?: boolean;
}

const {
  name,
  description,
  preview,
  link,
  tags,
  lazy = false
} = Astro.props as Props;
---

<a class="group h-96 flex flex-col gap-2 rounded-md border border-neutral-800 p-3 cursor-pointer bg-neutral-900/80 hover:bg-neutral-800/80 backdrop-blur-xs hover:backdrop-blur-sm transition hover:scale-105 hover:border-neutral-700" href={link} target="_blank">
  {lazy ? (
    <img 
      class="lazy-image rounded-sm overflow-hidden border border-neutral-800 bg-neutral-800 h-[177.5px]"
      data-src={preview}
      alt={`Preview of ${name}`}
    />
  ) : (
    <img 
      class="rounded-sm overflow-hidden border border-neutral-800 h-[177.5px]"
      src={preview}
      alt={`Preview of ${name}`}
    />
  )}

  <span class="text-lg font-bold">
    {name}
  </span>

  <div class="my-auto text-gray-400 italic text-xs bg-black/40 px-2 py-4 rounded-md group-hover:bg-black/0 flex items-center">{description}</div>

  <div class="flex items-center gap-1 mt-auto">
    {tags.map((tag) => (
      <Tag label={tag} />
    ))}
  </div>
</a>